
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
	url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
	url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
	url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: "Lato", sans-serif;
	color: #262729;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	background-color: rgb(177, 218, 220);
}

.page {
	padding: 5rem 0px 5rem 0px;
}

.page__title {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.25rem;
	padding-top: 5rem;
}

.page__section {
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.page__section_1 {
	background-color: rgb(184, 135, 222);
}

.page__section_2 {
	background-color: rgb(127, 129, 192);
}

.page__section_3 {
	background-color: rgba(113, 80, 136, 0.762);
}

.page__sub-title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.25rem;
}

.page__text {
	text-indent: 1.25rem;
	line-height: 1.4rem;
	font-size: 1.125rem;
}

.page__text p{
	margin-bottom: 0.625rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: cadetblue;
}


.header__container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	min-height: 6.25rem;
}

.header__logo {
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	z-index: 5;
	width: 40px;
	height: 40px;
}

.header__menu {
}

.menu {
}

.menu__icon {
	display: none;
}

.menu__body {
}

.menu__list {


}
.menu__list > li {
	position: relative;
	margin-left: 1.25rem;
}

.menu__link {
	color: white;
	font-size: 1.5rem;
}

.menu__link:hover {
	text-decoration: underline;
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: blanchedalmond;
	padding: 1rem;
	min-width: 200px;
}

.menu__sub-list li {
	margin: 0.625rem;
	font-size: 1.2rem;
}

.menu__sub-list li:last-child {
	margin-bottom: 0;
}

.menu__sub-link {
	
}
.menu__sub-link:hover {
	text-decoration: underline;
}

.menu__arrow {
	display: none;
}

/* --------------------- */

body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	transition: transform 0.3s ease 0s;
	margin: 0px 0px 0px 5px;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}


/* --------------------- */


@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 0.625rem 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s ease 0s;
		pointer-events: none;
	}
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		top: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 200px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}
	
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 6.25rem;
		background-color: cadetblue;
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}

	.menu__list > li._active .menu__sub-list {
		display: block;
	}

	.menu__list > li:last-child {
		margin-bottom: 0;
	}

	.menu__link {
		font-size: 24px;
	}

	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}

	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}
